body {
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

#toolbar {
  padding: 8px;
  background-color: black;
}

  #toolbar button {
    font-size: 24px;
    width: 150px
  }

#output-display {
  background-color: white;
  padding: 8px;
  border: solid 1px #333;
}

  #output-display h3 {
    margin: 0;
    border-bottom: solid 1px black;
    color: black;
  }

  #output-display h4 {
    margin: 0px;
    margin-bottom: 4px;
    background-color: black;
    color: white;
    padding: 4px;
    font-size: 0.9em;
  }

  #output-display div {
    margin: 4px;
  }

#visual-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0;
}

  #visual-table thead td {
    color: white;
    background-color: black;
    font-size: 10px;
    padding: 4px;
  }

  #visual-table tr td {
    color: #222;
    border: 1px black solid;
    padding: 4px;
    background-color: White;
    border-collapse: collapse;
    font-size: 9px;
  }