<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Reporter Pro</title>

  <link href="~/Content/bootstrap.css" rel="stylesheet" />
  <link href="~/Content/font-awesome.css" rel="stylesheet" />
  <link href="~/App/App.css" rel="stylesheet" />

  <script src="~/Scripts/jquery-3.1.1.js"></script>
  <script src="~/scripts/bootstrap.js"></script>
  <script src="~/scripts/powerbi.js"></script>
  <script src="~/App/App.js"></script>

</head>

<body>

  <div id="page-container" class="container">

    <div id="page-banner" class="navbar navbar-inverse">
      <div id="app-icon"></div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Daily Reporter Pro", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
          <li>@Html.ActionLink("Dashboards", "Index", "Dashboards")</li>
        </ul>

        <div id="login-menu" class="btn-group open nav navbar-nav pull-right">
          <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> Walter White</a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
          </a>          
        </div>
      </div>
    </div>

    <div id="page-content" class="body-content">
      @RenderBody()
    </div>

  </div>

</body>
</html>