/* CPT Colors: { Red: #9F1B30, Orange: #D16B2C, Yellow: #FEBF0F } */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  background-image: url(img/background.jpg);
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 8px;
  line-height: 1em;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  cursor: pointer;
  color: #FEBF0F;
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  margin: 0;
}

#page-container {
  opacity: 1.0;
  min-height: 600px;
  background-color: white;
  padding-bottom: 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 0;
  padding-left: 0;
  border: 1px solid #AAA;
  border-top-style: none;
}

/* top banner */

#page-banner {
  height: 48px;
  padding: 0px;
  color: white;
}


.navbar {
  margin-bottom: 0;
  background-image: linear-gradient(to bottom,#000000,#444444);
  opacity: 1;
  border-style: none;
}


.navbar-collapse.collapse {
  height: 40px !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-brand {
  float: left;
  height: 48px !important;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.btn-primary, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #FEBF0F;
  border-color: black;
  padding: 4px;
  line-height: 1.0;
}

#app-icon {
  float: left;
  height: 49px;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/AppIcon.png);
}

#app-title {
  display: flex;
  align-items: center;
  margin-left: 48px;
  height: 48px;
  padding-left: 16px;
  font-size: 24px;
}


#page-banner {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

  #page-banner a,
  #page-banner a:link,
  #page-banner a:visited {
    color: white;
    text-decoration: none;
    background-color: transparent;
  }

    #page-banner a:hover,
    #page-banner a:active {
      background-color: #9F1B30;
    }



#login-menu {
  margin-top: 10px;
}

  #login-menu a,
  #login-menu a:link,
  #login-menu a:visited {
    color: white;
    text-decoration: none;
    background-color: black;
    background-image: linear-gradient(to bottom,#555, #000, #555);
  }

  #login-menu a {
    padding-top: 8px;
  }

  #login-menu .fa {
    float: left;
    color: #FEBF0F;
    font-size: 14px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* page content */

#page-content {
  margin: 0;
  padding: 0;
}

#home-view-container {
  padding: 8px;
}

#datasets-view-container {
  padding: 24px;
}


#report-loading-message {
  margin-top: 24px;
  margin-left: 16px;
}

  #report-loading-message, #report-loading-message i {
    color: #9F1B30;
    font-size: 14px;
    padding-left: 0px;
  }

    #report-loading-message .fa {
      font-size: 1px;
      height: inherit;
      width: inherit;
    }


/* Left Nav */
#leftNavContainer {
  padding-left: 0;
  padding-right: 0;
}

  #leftNavContainer ul {
    display: block;
    list-style-type: none;
  }

.leftNavSection {
  margin: 4px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
}


.leftNavSectionHeader {
  background-color: black;
  padding-left: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 4px;
  padding-bottom: 2px;
}



.fa, .leftNavIcon {
  float: left;
  color: #FEBF0F;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftNavTitle {
  height: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: #FEBF0F;
  font-size: 14px;
  padding-bottom: 2PX;
}

.leftNavPageNavButtons {
  float: right;
  color: #FEBF0F;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-report, #new-report .fa, a#create-new-report {
  color: #FEBF0F;
  margin-right: 2px;
}

  #new-report.fa {
    font-size: 9px;
  }

#new-report-button a {
  font-size: 12px;
  font-weight: bold;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #FEBF0F;
}

#page-navigation-buttons .fa {
  font-size: 14px;
}

#goto-prev-page:hover, #goto-next-page:hover {
  cursor: pointer;
}

.leftNavMenu {
  margin-left: 2px;
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 4px;
  margin-right: 4px;
  font-size: 12px;
}

ul.leftNavMenu {
  padding-top: 4px;
  padding-left: 0px;
}


  ul.leftNavMenu li {
    margin-left: 4px;
    list-style: none;
    padding: 2px;
    padding-left: 8px;
    color: white;
    border-radius: 2px;
    margin-right: 4px;
  }

    ul.leftNavMenu li a,
    ul.leftNavMenu li a:active,
    ul.leftNavMenu li a:visited {
      color: #9F1B30;
      text-decoration: none;
    }

    ul.leftNavMenu li:hover {
      background-color: #D16B2C;
      border-radius: 8px;
    }

      ul.leftNavMenu li:hover a {
        color: white;
        cursor: pointer;
      }


    ul.leftNavMenu li.activeReport,
    ul.leftNavMenu li.activePage {
      background-color: #FEBF0F;
      border-radius: 8px;
      padding-left: 8px;
      font-weight: bold;
    }

      ul.leftNavMenu li.activeReport:hover a,
      ul.leftNavMenu li.activePage:hover a {
        color: red;
      }


.leftNavMenu label, .leftNavMenu input {
  color: #9F1B30;
  font-weight: normal;
}









#reportContainer {
  height: 600px;
  width: 100%;
  max-width: 1000px;
}

#dashboardContainer {
  height: 600px;
  width: 100%;
  max-width: 800px;
}

  #dashboardContainer iframe {
    border: none;
  }


#tileContainer {
  width: 400px;
  height: 350px;
}

#mainView {
  padding: 0;
  margin: 0;
}

#report-toolbar {
  background-color: black;
  color: #FEBF0F;
  width: auto;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #888;
  font-size: 18px;
}

#toolbar-buttons {
  margin-bottom: 4px;
}

.btn-default {
  color: #333;
  background-color: red;
  border-color: #ccc;
}

#toolbar-buttons a {
  font-size: 12px;
  color: #FEBF0F;
  line-height: 1.0em;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

  #toolbar-buttons a i {
    font-size: 14px;
    height: inherit;
  }

.modal-header {
  background-color: #9F1B30;
  padding: 8px;
  border: 1px solid #888888;
}

/* CPT Colors: { Red: #9F1B30, Orange: #D16B2C, Yellow: #FEBF0F } */


.modal-title {
  color: #FEBF0F;
}

.modal-body a,
.modal-body a:hover,
.modal-body a:visited,
.modal-body a:link,
.modal-body a:active,
.modal-body .fa {
  color: #9F1B30;
  font-size: 16px;
}


#datasets-table {
  margin: 2px;
}

  #datasets-table th,
  #datasets-table td {
    padding: 8px;
  }

#datasets-table i.fa {
  font-size: 18px;
  margin-right: 6px;
}
