@model HelloPBIEmbedded.Models.ReportViewModel

<div id="toolbar" class="col-md-3">

    <div class="panel panel-default">
        <h3 class="panel-heading">Report Configuration Settings</h3>
        <div class="panel-body">
            <div class="checkbox">
                <label>
                    <input id="setting-shownav" type="checkbox" /> Show Navigation
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="setting-showfilterpane" type="checkbox" /> Show Filter Pane
                </label>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <h3 class="panel-heading">Page Navigation</h3>
        <div id="page-navigation">Getting report pages...</div>
        <div>
            <button id="pbi-prev-page" class="btn btn-default">Previous Page</button>
            <button id="pbi-next-page" class="btn btn-default">Next Page</button>
        </div>
    </div>

</div>

<div class="col-md-9">

    @Html.PowerBIReportFor(
      Model => Model.Report,
      new { id = "pbi-report",
            style = "height:95vh;",
            powerbi_access_token = Model.AccessToken
    })

</div>