body {
  background-color: orange;
}

#main-body {
  background-color: white;
  min-height: 400px;
}

.body-content {
  padding: 48px;
}

#navigation {
  padding: 8px;
  border: 1px solid #999;
  border-bottom-right-radius: 8px;
}

  #navigation.navbar-nav .nav-link {
    margin: 2px;
    padding: 0;
    color: black;
    font-size: 12px;
    font-weight: bold;
  }


  #navigation .nav-item {
    margin: 0;
    padding: 0;
  }

  #navigation:empty {
    display: none;
    background-color: red;
  }


.nav-header {
  color: darkblue;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid darkblue;
  margin-bottom: 4px;
}

#embedContainer {
  height: 640px;
}
