/* CPT Colors: { Red: #9F1B30, Orange: 	6:00 PM 1/29/2017Yellow: #FEBF0F } */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: orange;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

ul {
    margin: 0;
}

#page-container{
  max-width: 1024px;
  margin: auto;
  background-color: white;
  min-height: 600px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid black;
}

.content-body {
  padding: 24px;
}

#embed-container {
  margin: 4px;
  margin-left: 184px;
  height: 600px;
  border: 1px black solid;
}