

#banner {
  height: 48px;
  padding: 0px;
  color: white;
  background-color: black;
}


#app-icon {
  float: left;
  height: 47px;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./../images/AppIcon.png')
}

#app-title {
  float: left;
  display: flex;
  align-items: center;
  height: 48px;
  padding-left: 12px;
  font-size: 24px;
}