#left-nav {
  padding: 8px;
  width: 180px;
  float: left;
  background-color: #EEE;
  border: 1px solid #999;
  border-bottom-right-radius: 8px;
}

#left-nav-header {
  color: darkblue;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid darkblue;
  margin-bottom: 4px;
}

#left-nav ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

#left-nav li {
  border: 0px;
  margin: 0px;
}

  #left-nav a, 
  #left-nav a:hover,
  #left-nav a:visited
   {
    margin: 2px;
    padding: 0;
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none; 
  }

  

  #left-nav:empty {
    display: none;
    background-color: red;
  }
