<!DOCTYPE html>
<html>
<head>
  <title>Power BI Report Viewer</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;" />

  <link href="~/Content/bootstrap.css" rel="stylesheet" />
  <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
  <link href="~/Content/font-awesome.css" rel="stylesheet" />
  <link href="~/Content/app.css" rel="stylesheet" />

</head>
<body>

  @RenderBody()

  <script src="~/scripts/jquery-3.1.1.js"></script>
  <script src="~/scripts/bootstrap.js"></script>
  <script src="~/scripts/powerbi.js"></script>
  <script src="~/App/app.js"></script>

</body>
</html>