<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="4.1.1" targetFramework="net461" />
  <package id="jQuery" version="3.3.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.5" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.5" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.5" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.4" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.8.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.PowerBI.Api" version="2.0.121817003" targetFramework="net461" />
  <package id="Microsoft.PowerBI.JavaScript" version="2.5.1" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.11" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Modernizr" version="2.6.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="popper.js" version="1.14.3" targetFramework="net461" />
</packages>