@model DailyReporterPro.Models.HomeViewModel


<div id="home-view-container">

  <div class="jumbotron">

    <h3>Welcome to the Power BI Embedded Demo for 3rd Party Embedding</h3>

    <h4>
      App workspace name: @Model.WorkspaceName
    </h4>

    <h4>
      App workspace ID: @Model.WorkspaceId
    </h4>

  </div>


</div>
