<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

     <!-- Your Azure subscription ID -->
    <add key="subscriptionId" value="6f28b023-7e49-4f74-b53e-46a0966ea67c" />

    <!-- Your Azure subscription credentials to provision resources in Azure -->
    <add key="subscriptionUser" value="student@pbi2017.onMicrosoft.com" />
    <add key="subscriptionPassword" value="Pa$$word!" />

    <!-- Azure provisioning location -->
    <add key="azureProvisioningLocation" value="southcentralus" />
    
    <!-- The Azure resource group name -->
    <add key="resourceGroup" value="powerbi-demo" />
    
    <!-- The Power BI Workspace Collection Name -->
    <add key="workspaceCollectionName" value="wingtip-sales" />
    
    <!-- The file path of the PBIX file to import -->
    <add key="pbixFilePath" value="C:\GIT\PowerBiEmbedded\PBIX\WingtipSalesDirectQuery.pbix" />
    
    <!-- the name of the dataset/report that is created during the import process -->
    <add key="importedReportId" value="Wingtip Sales" />

    <!-- the name of the dataset/report that is created during the import process -->
    <add key="azureSqlUser" value="CptStudent" />
    <add key="azureSqlPassword" value="pass@word1" />

    
  </appSettings> 

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>