<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>

    <!-- add AAD account name and password for account with Power BI Pro license -->
    <!-- if you leave these settings blank, user will be presented with interactive login -->
    <add key="aad-account-name" value="user1@MY_TENANT.onMicrosoft.com" />
    <add key="aad-account-password" value="" />
    
    <!-- Create a native application in Azure AAD and give it all Power BI Service Permissions -->
    <!-- Add the client id and the reply url for this application here -->
    <add key="client-id" value="" />
    <add key="reply-url" value="https://localhost/app1234" />

    <!-- add the GUID for the workspace, dataset, report and dashboard you want to use for demos -->
    <add key="app-workspace-id" value="" />
    <add key="dataset-id" value="" />
    <add key="report-id" value="" />
    <add key="dashboard-id" value="" />

    <!-- configure where this application generates pages on local hard drive -->
    <!-- make sure your local-pages-folder value ends with a "\" -->
    <add key="local-pages-folder" value="C:\DevTesting\LivePages\" />

  </appSettings> 

  <runtime> 

       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 

            <dependentAssembly> 

                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" /> 

                 <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" /> 

            </dependentAssembly> 

       </assemblyBinding> 

  </runtime>

</configuration>