<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.3.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net461" />
  <package id="Microsoft.PowerBI.Api" version="2.6.0" targetFramework="net461" />
  <package id="Microsoft.PowerBI.JavaScript" version="2.6.0" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.18" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
</packages>